.wrapper {
  width: 1200px;
  margin: 0 auto;
}

header, footer {
  padding: 5px;
  text-align: center;
  background-color: #E6E6E6;
}

.navi {
  display: inline;
  margin: 0 15px;
}

a {
  color: black;
  text-decoration: none;
}

.main {
  width: 1200px;
  margin-top: 5px;
}

.col-1 {
  
  float: left;
  width: 380px;
  height: 400px;
  margin-top: 5px 0;
  padding: 5px;
  background-color:  #E6E6E6;
}

.head2 {
   margin-left: 40px;
}

.categories {
   padding: 5px;
   list-style-type: none;
}

.col-2 {
  float: left;
  width: 795px;
  height: 400px;
  margin-left: 5px;
  padding: 5px;
  background-color:  #E6E6E6;
}

.img2 {
	width: 200px;
	height: 150px;
}



footer {
	float: left;
	width: 1190px;
	margin-top: 5px;
}